.nav {
    display: inline;
    border: 3px dotted magenta;
    text-align: center;
    list-style-type: none;
    padding: 10px 15px;
    margin: 100px;
    justify-content: space-between;
    background-color: grey;
    text-decoration: none;
}

nav ul {
    display: inline;
    border: 3px double blue;
    margin: 100px;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    background-color: yellow;
    list-style-type: none;
    padding: 5px;
    width: 150px;
}

nav ul li:hover ul {
    display: inline-block;
}

nav ul li ul li a:hover{
    background-color: red;
}