.nav {
    display: inline;
    border: 3px dotted magenta;
    text-align: center;
    list-style-type: none;
    padding: 50px 100px 100px;
    margin: 100px;
    justify-content: space-between;
    background-color: yellow;
}
