.nav {
    display: flex;
    border: 3px dotted magenta;
    text-align: center;
    list-style-type: none;
    padding: 15px 15px 25px;
    margin: auto;
    justify-content: space-between;
}
