#h1 {
    text-align: center;
    font-size: 3rem;
    margin-right: 200px;
}
#first::first-letter{
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}
#pr{
    background-color: silver;
    border: 5px double green;
}
.source{
    padding-left: 10%;
    text-indent: -10%;
}
.grid{
    display: grid;
    grid-template-columns: 25% 25% 10% 40%;
    grid-template-rows: 50px 200px 25px 10px;
    background-color: #EEE770;
    margin: 10px;
    border: 5px double green;
}
#h3{
    grid-column-end: 2;
    font-size: 2rem;
    justify-self: center;
}
#aboutinfo{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
}
#resumebox {
    grid-row-start: 3;
    grid-column-start: 1;
}
#pic{
    grid-column-start: 4;
}